server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: systemd-journal
    static_configs:
      - targets:
          - localhost
        labels:
          job: systemd-journal
          host: fedora-htpc
          __path__: /var/log/journal-export/journal.log
    pipeline_stages:
      - json:
          expressions:
            message: MESSAGE
            priority: PRIORITY
            unit: _SYSTEMD_UNIT
            hostname: _HOSTNAME
            syslog_id: SYSLOG_IDENTIFIER
      - labels:
          priority:
          unit:
          hostname:
          syslog_id:
      - output:
          source: message
