[Unit]
Description=Gathio Application Network
Documentation=man:podman-network(1)

[Network]
NetworkName=systemd-gathio
Driver=bridge
Subnet=10.89.0.0/24
Gateway=10.89.0.1
IPRange=10.89.0.2-10.89.0.68
DNS=192.168.1.69
Internal=true

[Install]
WantedBy=default.target
