[Unit]
Description=Photos Service Network

[Network]
Subnet=10.89.5.0/24
Gateway=10.89.5.1
IPRange=10.89.5.2-10.89.5.68
DNS=192.168.1.69
Internal=true

[Install]
WantedBy=default.target
