[Unit]
Description=Promtail - Log Collector for Loki
After=network-online.target monitoring-network.service loki.service
Wants=network-online.target loki.service
Requires=monitoring-network.service

[Container]
Image=docker.io/grafana/promtail:3.2.1
ContainerName=promtail
HostName=promtail
Network=systemd-monitoring

# Promtail configuration
Volume=%h/containers/config/promtail:/etc/promtail:ro,Z
Volume=%h/containers/data/promtail:/tmp:Z
Volume=%h/containers/data/journal-export:/var/log/journal-export:ro,Z

# Promtail command line arguments
Exec=-config.file=/etc/promtail/promtail-config.yml

DNS=192.168.1.69

[Service]
Restart=on-failure
TimeoutStartSec=60

[Install]
WantedBy=default.target
