[Unit]
Description=Collect BTRFS per-device error counters every 15 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
